.auto_hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s;
}
.auto_hide.is-hidden {
    transform: translateY(-100%);
}
header{
    padding: 1.5rem 1.8125rem;
    left: 0;
    z-index: 1;
    @include transition(background-color);
    &.scrolled{
        //background-color: $black;
        background: linear-gradient(to bottom, $black ,$thnk-you 90%, transparent);
    }
}
.navbar-brand{
    padding: 0;
    img{
        max-height: 5rem;
    }
}
.navbar-nav {
    .nav-item{
        margin-right: 0.4375rem;
        margin-left: 0.4375rem;
        .nav-link{
            color: #fff;
        }
        .dropdown-toggle{
            .lang{
                margin-#{$right}: 0.65rem;
            }
            .currency {
                margin-#{$left}: 0.65rem;
            }
        }
    }
}
.navbar-toggler-icon {
    color: $white;
    font-size: 1.75rem;
}
.navbar-collapse{
    top: 0;
    #{$left}: 100%;
    #{$right}: auto;
    padding: 2rem 0;
    @include transition(left);
}



footer{
    padding-top:4.375rem;
    padding-bottom:2.375rem;
    .f_nav{
        column-count: 2;
        line-height: 3rem;
        a {color: $headingColor}
    }
    .socila_media{
        float: right;
        margin-top: .5rem;
        li{
            margin-right: 1.5rem;
        }
        a {
            display: block;
            height: 2.5rem;
            width: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
            border: 1px $white solid; color: $white;
            @include border-radius(50%)
        }
    }
    img{
        max-width: 100%;
        margin-bottom: 0.5rem;
    }
    .copyrights{
        width: 100%;
        border-top: 1px $darkGray solid;
        padding-top:3.25rem;
        margin-top:4.375rem;
        color: $white;
        a{color: $white}
    }
}


