/* ----------- colors ------------ */
$white:#fff;
$black:#000;
$darkColor:#333;
$apiColor:#cacaca;
$gray: #a4a2a3;
$lightGray: #dad8d9;
$darkGray: #111111;
$offWhite: #e7e7e7;
$thnk-you:rgba(0,0,0,0.2);

//text color
$headingColor:#fff;
$bodyColor:#7f7f80;

//low opacity
$alpha: rgba(0,0,0,0.75);
$darkBg: rgba(0,0,0,0.6);


/* ----------- font size ------------ */
$normalSize: 1rem;
$subTitleSize: 1.2rem;
$smallSize: 0.75rem;
$navSize: 1rem;
$midSize: 0.875rem;
$bigSize: 1.125rem;


$secPadding: 50px 0 55px 0;







//----- translate -----
$isRtl:ltr;
$left: left;
$right: right;
$direction:ltr;
$minus: 1;
$bodyFont: helvetica;
$langFont:DroidKufi;

$double-right: "\f101";
$double-left: "\f100";
$chevron-left:"\f053";
$chevron-right:"\f054";

$rotate90: 90deg;

$flex-direction:row;


@if $isRtl == rtl
{
    $left: right;
    $right: left;
    $direction:rtl;
    $minus: -1;
    $bodyFont: helvetica;
    $langFont:RobotoSlab;
    $navSize:18px;
    $double-right: "\f100";
    $double-left: "\f101";
    $chevron-left:"\f054";
    $chevron-right:"\f053";
    $rotate90: -90deg;
    $flex-direction:row-reverse;

}
@else {
    $left: left;
    $right: right;
    $direction:ltr;
    $minus: 1;
    $bodyFont: helvetica;
    $langFont:DroidKufi;
    $double-right: "\f101";
    $double-left: "\f100";
    $chevron-left:"\f053";
    $chevron-right:"\f054";
    $rotate90: 90deg;
    $flex-direction:row;

}
